html {
  height: 100%;
}
body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
  font-family: Trebuchet MS;
}
h2 {
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  font-family: Trebuchet MS;
  font-style: italic;
}
h3 {
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
p {
  margin-left: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
hr {
  background-color: #0329a6;
  height: 1px;
  position: relative;
  top: -50px;
}
footer {
  text-align: center;
}
.container {
  background-color: rgb(248, 247, 247);
  border: 20px solid rgb(248, 247, 247);
  border-radius: 50px 50px 50px 2px;
  box-shadow: 5px 5px 5px rgb(36, 67, 206);
  width: 500px;
  height: 400px;
  margin: 50px auto;
  padding-left: 5px;
}
hr.firstSeparator {
  background-color: #0329a6;
  height: 1px;
  position: relative;
  top: -92px;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: -76px;
}
.weather-forecast-date {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.weather-forecast-icon {
  font-size: 30px;
  text-align: center;
}
.weather-forecast-temperatures {
  text-align: center;
  color: rgb(36, 67, 206);
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.weather-forecast-temperature-max {
  font-weight: bolder;
  padding: 0 10px;
}
.weather-forecast-temperature-min {
  font-weight: lighter;
  padding: 0 10px;
}
.wind,
.humidity {
  color: rgb(36, 67, 206);
  font-weight: bold;
}
.currentTemperature {
  position: relative;
  left: 310px;
  top: -105px;
}
.temperatureNumber {
  font-size: 70px;
  font-weight: 500;
  letter-spacing: -4px;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: relative;
  left: -14px;
  top: -14px;
}
.celsius {
  font-size: 20px;
  letter-spacing: -1px;
  position: relative;
  top: -50px;
  left: -12px;
}
.weatherLogo {
  width: 88px;
  height: 88px;
  position: relative;
  left: -5px;
}
.weather-form {
  margin: 30px auto;
  display: block;
  text-align: center;
  position: relative;
  top: -56px;
}
.enteredCity {
  padding: 15px 20px;
  width: 40%;
  border: 1px solid #0329a6;
  border-radius: 6px;
  font-size: 16px;
}
.submitButton {
  padding: 15px 20px;
  border: 1px solid #0329a6;
  background-color: #0329a6;
  color: #f8f7f7;
  border-radius: 6px;
  margin-left: 5px;
  font-size: 16px;
}
