html {
  height: 100%;
}
body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
}
h2 {
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
}
h3 {
  font-size: 70px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.container {
  background-color: rgb(248, 247, 247);
  border: 20px solid rgb(248, 247, 247);
  border-radius: 20px 66px 54px 2px;
  box-shadow: 5px 5px 5px rgb(36, 67, 206);
  width: 500px;
  height: 300px;
  margin: 50px auto;
}
.enteredCity {
  padding: 15px 20px;
  width: 40%;
  border: 1px solid #0329a6;
  border-radius: 6px;
}
.submitButton {
  padding: 15px 20px;
  border: 1px solid #0329a6;
  border-radius: 6px;
}
.weather-form {
  margin: 30px auto;
  display: block;
  text-align: center;
}
